<html>
    <head>
    </head>
    <body>
        <p>Hi, {{name}}</p>
        <p>We appreciate your interest on PSK Insurance. We care about your security.</p>
        <p>We give you the following advice to boost your chances to survive: </p>
        <ol>
            <li> According to our model, you should consider to take the cryosleep option in order to reduce the wear in your body.</li>
            <li> Sometimes choosing the right departure point makes the difference, the Earth and Europa are the most successful departure stations according to our model, we recommend you to start your voyage from there.</li>
            <li> Dedicating time for yourself is important, our model predicts that most of the people that spend more money on the spa, VR deck and shopping mall tend to have a safer journey.</li>
            <li> Rarely, the location of your cabin affects your journey experience, but we still suggest that having a cabin near deck F and side P should improve your chances.</li>
        </ol>
        <p>Thank you for choosing us, we hope you find this tips helpful for your next interstellar voyage.</p>
    </body>
    <footer>
    </footer>
</html>